/venv/Scripts/activate
/venv/Scripts/activate.bat
/venv/Scripts/activate.fish
/venv/Scripts/activate.nu
/venv/Scripts/activate.ps1
/venv/Scripts/activate_this.py
/Secret/const.py
/venv/Scripts/deactivate.bat
/venv/Scripts/deactivate.nu
/venv/Scripts/pip.exe
/venv/Scripts/pip3.10.exe
/venv/Scripts/pip3.exe
/venv/Scripts/pip-3.10.exe
/venv/Scripts/pydoc.bat
/venv/Scripts/python.exe
/venv/Scripts/pythonw.exe
/venv/pyvenv.cfg
/venv/Scripts/wheel.exe
/venv/Scripts/wheel3.10.exe
/venv/Scripts/wheel3.exe
/venv/Scripts/wheel-3.10.exe
